header #background {
    background-color: rgba(173, 37, 101, 0.603);
}

h1 {
    color:white;
    position: relative;
    left: 50%;
    font-size: 2.0em;
    font-weight: bold;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}