*body {
    margin: 0;
    padding: 0;
}
header #background {
    background-color: rgba(173, 37, 101, 0.603);
    position: absolute;
    top: 5%;
    left: 40%;
    padding: 10%;
}

h1 {
    color:white;
    font-size: 5em;
    font-weight: bold;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}